//
// Attachments
// --------------------------------------------------
// <li> attachment elements on both create/edit and view


.attachment {
  list-style-type: none;
  border: 1px solid lighten($toolkit-border-color, 15%);
  border-radius: 3px;
  padding: ($spacer * .5) ($spacer * .75);
  margin: 0;
  margin-top: 10px;

  &:first-child {
    margin-top: 0px;
  }

  // If it's removeable, make room for 'x' control
  &.removeable {
    a {
      margin-right: 40px;
    }
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;

      .attachment-name {
        text-decoration: underline;
      }
    }
  }

  .attachment-type {
    color: $gray-light;
  }

  .filetype-icon {
    float: left;
    margin-right: ($spacer * .5);
  }


  // Create View
  // -------------------------

  .create-view & {
    border-style: dashed;
    border-color: lighten($toolkit-border-color, 10%);

    // If it's removeable, there's a button to remove the attachment
    .btn {
      border: 0;
      color: $brand-danger;
      font-size: 1.5em;
      margin-top: .125em;
      margin-left: .5em;

      &:hover {
        background-color: lighten($brand-danger, 48%);
      }
    }
  }
}
