//
// Footer
// --------------------------------------------------


.footer-container {
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  text-align: center;
  margin-top: ($spacer * 2);
  padding: ($spacer / 2);

  a {
    color: inherit;
    text-decoration: underline;
  }
}
